[user]
	email = public@greenfork.me
	name = Dmitry Matveyev
[diff]
	algorithm = histogram
	colorMoved = default
[bash]
	showInformativeStatus = true
[pull]
	rebase = false
[merge]
	conflictStyle = diff3
[init]
	defaultBranch = master
[sendemail]
	smtpEncryption = ssl
	smtpServer = smtp.fastmail.com
	smtpUser = greenfork@fastmail.com
	smtpServerPort = 465
[credential]
	helper = "netrc -f ~/.authinfo.gpg"

; delta diff viewer
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations
	navigate = true
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow box
	file-decoration-style = none
