.vim/.netrwhist
*.swp
tags

/.config/kak/plugins/

/.config/mpd/database
/.config/mpd/sticker.sql
/.config/mpd/pid
/.config/mpd/state

/.config/i3blocks/*
/.config/i3blocks/.*
!/.config/i3blocks/config

/.emacs.d/straight/
/.emacs.d/custom.el
