[user]
	email = dev@greenfork.me
	name = Dmitry Matveyev
[diff]
	algorithm = histogram
	colorMoved = default
[bash]
	showInformativeStatus = true
[pull]
	rebase = false
[init]
	defaultBranch = master
[sendemail]
	smtpEncryption = ssl
	smtpServer = smtp.fastmail.com
	smtpUser = greenfork@greenfork.me
	smtpServerPort = 465
	annotate = true
[credential]
	helper = store

; delta diff viewer
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations
	navigate = true
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow box
	file-decoration-style = none
